name: Node.js

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    # Check if it works with current dependencies
    - cron: "42 2 * * 6" # weekly on Saturday 2:42 UTC

jobs:
  test:
    name: Node.js
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - uses: actions/checkout@v5
      - run: npm install
      - run: npm test
      - run: npm pack
